include includes/dashboard-head.pug
block content 
body.bg-fainted  
  section(class="d-wrapper")
    include includes/dashboard-sidebar.pug 
    main.main(style="width:100%")
      include includes/dashboard-nav.pug 
      div.wrapper 
        div.wrap.justify-content-between  
          div.wrap-md-12.wrap-12.pad-10
            if pages.length === 0 
              h3 Click on the icon below to create a new category
            else 
              table(class="table table-bordered") 
                thead 
                  tr 
                    th S/N 
                    th  Name 
                    th  Description 
                    
                    th  Action 
                tbody 
                  each page  , i in pages
                    tr.categoryRow
                      td #{i + 1}
                      td.category-editer.cat-name(contenteditable="false") #{page.name} 
                      td.category-editer.cat-description(contenteditable="false") #{page.description} 
                      
                      td.wrap.justify-content-between  #[i.fa.fa-trash.button.bg-red.white-text.category.category-delete.no-border.no-outline(data-name=page.name)]  #[i.fa.fa-pencil.button.bg-green.white-text.category.category-edit.no-border.no-outline(data-name=page.name)]
        if admin.role === "Admin"
            div.wrap-md-6.wrap-12
              section(id="clearance-form")
                a(href="#" class="fixed-to-bottom modal-trigger" ) 
                  i(class="fa fa-plus circle-content shadow") 
                div(class="modal w-100 h-100  z-index-overall   top-0 left-0  wrapper") 
                  div(class="modal-content wrap-md-4 center-box" data-modal-content-distance-from-top="5" data-modal-content-width="90") 
                    span(class="close both-hover-with-focus") &times;
                    form(class="shadow pad-20 m-b-2 bg-white bold-350 font-1 radius-5"  method="post")
                      h3.center-text Add a new catgory
                      label(for="name" class="label") Name 
                      input(type="text" class="input validate pad-input input-m-b-1 input-border-faint" name="name" id="name" required) 
                      label(for="description" class="label") Description
                      textarea(class="input validate pad-input input-m-b-1 input-border-faint" name="description" id="description" required) 
                      input(type="submit" class="input validate pad-input  input-border-faint bg-submit white-text" value="Proceed")
  script(src="/js/toggler.js" type="module") 
  script(src="/js/easyframer.js" type="module") 
  script(src="/js/post-category-manager.js" type="module")